.root {
  &[data-variant="default"] {
    display: flex;
    flex-direction: column;
    gap: rem(6);

    height: rem(100px) !important;

    .input {
      font-size: rem(14px);
    }
  }
}
