@import "fonts/index.css";
@import "semantic/index.css";
@import "globals.css";
@import "time-picker.module.css";

:root {
  --chart-background: #f2f4f7;
  --top-text-color: #000;
  --top-selected-color: var(--blue-7);
  --clock-wrapper-bg: #fff;
  --clock-bg: #21212114;
  --hand-circle-outer: var(--blue-7);
  --hand-circle-center: var(--blue-7);
  --hand-line-color: var(--blue-7);
  --top-meridiem-color: var(--blue-7);
  --meridiem-selected-bg-color: var(--blue-7);
  --meridiem-text-color: #000;
  --meridiem-selected-text-color: #fff;
  --meridiem-bg-color: var(--gray-2);
  --numbers-font-size-reg: 1.1rem;

  .recharts-legend-item-text {
    color: var(--primary-text-subtle) !important;
  }
}

* {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}
