@import "fonts/index.css";
@import "semantic/index.css";
@import "globals.css";
@import "time-picker.module.css";

:root {
  --chart-background: #f2f4f7;

  --top-text-color: #000;
  --top-selected-color: var(--blue-7);
  --clock-wrapper-bg: #fff;
  --clock-bg: #21212114;
  --hand-circle-outer: var(--blue-7);
  --hand-circle-center: var(--blue-7);
  --hand-line-color: var(--blue-7);
  --top-meridiem-color: var(--blue-7);
  --meridiem-selected-bg-color: var(--blue-7);
  --meridiem-text-color: #000;
  --meridiem-selected-text-color: #fff;
  --meridiem-bg-color: var(--gray-2);
  --numbers-font-size-reg: 1.1rem;

  --react-international-phone-border-color: var(--mantine-color-gray-4);
}

.recharts-legend-item-text {
  color: var(--primary-text-subtle) !important;
}

.table-underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0; /* Behind the table */
  pointer-events: none; /* Prevent it from blocking interactions */
}

* {
  scroll-behavior: smooth;
}
