.ProseMirror {
  height: 100%;
  font-size: 14px;
}

.ProseMirror:focus {
  outline: none;
  border: none;
}

.css-1outj7w-meridiem {
  font-weight: 700 !important;
  font-size: 28px !important;
}

.css-1wtkbk-time-TopBar,
.css-1igvx5z-timeSelected-time-TopBar,
.css-6bnttf-minuteWrapper {
  padding: 0.5rem 1rem !important;
  border-radius: 0.3rem !important;
}

.css-1igvx5z-timeSelected-time-TopBar {
  background-color: var(--purple-4) !important;
  color: var(--blue-7) !important;
}

.css-1wtkbk-time-TopBar,
.css-6bnttf-minuteWrapper {
  background-color: var(--gray-2) !important;
}

.css-hcsisw-wrapper {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  gap: 1rem !important;
}

.css-3g92bx-timepicker {
  width: 100% !important;
}
